[Desktop Entry]
Name=Gde
Comment=GDE - Gtk Development Environment
Comment[pl]=GDE - środowisko programistyczne Gtk
Exec=gde
Terminal=0
Type=Application
# vi: encoding=utf-8
