[Desktop Entry]
Name=Gde
Comment=GDE - Gtk Development Environment
Comment[pl]=GDE - środowisko programistyczne Gtk
Exec=gde
Terminal=false
Type=Application
Categories=GTK;Development;
# vi: encoding=utf-8
